@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/Avenir-Book.eot');
  src: url('../fonts/Avenir-Book.woff2') format('woff2'),
       url('../fonts/Avenir-Book.woff') format('woff'),
       url('../fonts/Avenir-Book.ttf') format('truetype'),
       url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg'),
       url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700);

/* BASIC CSS */
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	}
/* END BASIC CSS */

/* NAVIGATION CSS */
html, body, 
.container,
.cbp-fbscroller,
.cbp-fbscroller section { 
	height: 100%;
	}

.cbp-fbscroller > nav {
	position: fixed;
	z-index: 9999;
	right: 50px;
	top: 50%;
	width: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	}

.cbp-fbscroller > nav a {
	display: block;
	position: relative;
	z-index: 9999;
	color: transparent;
	width: 14px;
	height: 14px;
	outline: none;
	margin: 18px 0;
	border-radius: 50%;
	border: 1px solid black;
	transition:0.2s all linear;
	}

.cbp-fbscroller > nav a:hover {
	background: #bebebe;
	transition:0.2s all linear;
}

.cbp-fbscroller > nav a:active {
	background: #979797;
	}


.cbp-fbscroller > nav a.cbp-fbcurrent {
	background: #737373;
	}

.cbp-fbscroller section {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: static;
	transition: 1s ease-in-out;
	}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
	}
/* END NAVIGATION CSS */

/* SECTION 1 */
#particles-js {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: static;
	}

.start-title {
	position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
	}

.start-title h1 {
    font-size: 72pt;
    text-transform: uppercase;
    margin: 0px;
    font-weight: normal;
	}

.start-title h2 {
	letter-spacing: 18px;
	margin: 0;
	font-size: 16pt;
	font-weight: 200;
	text-transform: uppercase;
	padding-left: 18px;
	}

.start-title ul {
	max-width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 18px;
	}

.start-title ul li {
	list-style-type: none;
	display: inline;
	}

.start-title ul li a i {
	color: #fff;
	width: 50px;
	height: 38px;
	border-radius: 30px;
	font-size: 25px;
	text-align: center;
	padding-top: 11px;
	margin-right: 20px;
	}
/* END SECTION 1 */

/* SECTION 2 [Introduction + Get in touch] */
.intro-text {
	text-align: center;
	padding-top: 75px;
	max-width: 600px;
	margin: 0 auto;
	}

.intro-text h1{
	color: white;
	font-size: 46pt;
	text-transform: uppercase;
	margin: 0;
	}

.intro-text p {
	color: #802929;
	font-weight: 200;
	line-height: 30px;
	font-size: 10pt;
	}

.intro-bottom svg {
	width:20px;
	padding: 30px 0px 0px 50px;
	}

.intro-bottom {
	background-color: white;
	margin: 0 auto;
	margin-top: 60px;
	height:60px;
    width:120px;
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
	}
/* END SECTION 2 [Introduction + Get in touch] */

/* SECTION 3 [Work + Contact] */
#fbsection3 {
	padding-top: 5%;
	text-align: center;
	}
	
#wrapper-content {
	width: 95%;
	max-width: 1100px;
	display: inline-block;
}
	
#content-right {
	padding: 25px;
	width: 45%;
	margin: 0 auto;
	text-align: justify;
	float: right;
	}

#content-left {
	padding: 25px;
	width: 45%;
	margin: 0 auto;
	text-align: justify;
	display: inline;
	float:left;
	}

#content-left>p, #content-right>p, .port-content>p {
	font-weight: 200;
	font-size: 10pt;
	line-height: 25px;
	color: #979797;
	}

td>p {
	padding-left: 30px;
	}

table {
    width:100%;
    font-weight: 200;
	font-size: 10pt;
	line-height: 25px;
	color: #979797;
	}

td>h3 {
	text-transform: uppercase;
	font-size: 12pt;
	font-weight: 400;
	margin: 0;
	color: black;
	}
	
.circle-icon {
    background: #ea4c4c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    padding: 20px;
}

.fa-search, .fa-file-code-o, .fa-pencil {
	color: white;
}

#work-wrapper {
	display: inline-flex;
	width: 100%;
}

.color-palette {
	width: 150px;
	border: 10px solid lightgrey;
	text-align: center;
	padding-top: 150px;
	text-transform: uppercase;
	margin-right: 20px;
}

.color-palette p {
	background-color: lightgrey;
	margin: 0;
	padding-top: 10px;
}
/* END SECTION 3 [Work + Contact] */

/* SECTION 4 */
#customer-section>img {
	border: 1px solid #ea4c4c;
	padding: 5px;
	margin: 10px;
		 border-radius: 50%;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}

#customer-section>img:hover {
	 border-radius: 0%;
	}
/* END SECTION 4 */

/* SECTION 5 */
#fbsection5 {
	background-image: url('../images/section5-lardenoije-bg.png');
	background-attachment: fixed;
	background-position: center;
	}
/* END SECTION 5 */

/* SECTION 6 */
#fbsection6 {
	background-image: url('../images/section6-kroese-bg.png');
	background-attachment: fixed;
	background-position: center;
	}
/* END SECTION 6 */

/* SECTION 7 */
#fbsection7 {
	background-image: url('../images/section3-mido-bg.png');
	background-attachment: fixed;
	background-position: center;
}
/* END SECTION 7 */

/* SECTION 8 */
#fbsection8 {
	background-image: url('../images/section4-24nannies-bg.png');
	background-attachment: fixed;
	background-position: center;
	}
/* END SECTION 8 */

/* SECTION 10 */
#fbsection10 {
	margin-top: 20px !important;
	}

.required {
	display: inline;
	padding-left: 10px;
	color: red;
	}

input, textarea {
	width: 100%;
	padding: 7px;
	margin-bottom: 5px;
	color: #ea4c4c;
	font-size: 10pt;
	font-weight: 200;
	border: 1px solid #bababa;
	}

input:focus, textarea:focus {
	outline: none !important;
	border: 1px solid #ea4c4c;
	box-shadow: 0px 0px 10px rgba(235, 74, 74, 0.5);
	}

.contact {
	text-transform: uppercase;
	letter-spacing: 1px;
	}

#content-right-contact {
	padding: 25px;
	width: 40%;
	text-align: left;
	float: right;
	color: black;
	}

#content-right-contact>p, h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	}

#content-right-contact a {
	text-decoration: none;
	color: black;
	}

#content-right-contact a:hover {
	color: #ea4c4c;
	}

#content-right-contact>ul {
	margin-top: 20px;
	padding-left: 0;
	}

#content-right-contact>ul li {
	list-style-type: none;
	display: inline;
	}

#content-right-contact>ul li a i:hover {
	color: white;
	}

#content-right-contact>ul li a i {
	color: #ea4c4c;;
	width: 50px;
	height: 38px;
	border-radius: 30px;
	font-size: 25px;
	text-align: center;
	padding-top: 11px;
	margin-right: 20px;
	}
/* END SECTION 10 */

/* SECTION WORK HEADER */
#fbsection-work-header {
	height: 80%;
	background-image: url('../images/Lardenoije-header.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	position: relative;
}

#back-top {
	float: right;
	margin: 50px;
}

.work-info-header {
	width: 90%;
	max-width: 1000px;
	height: 30px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.work-info-header h3 {
	font-weight: 100;
	color: white;
	display: inline;
	margin-right: 90px;
	font-size: 12pt;
	}
/* END SECTION WORK HEADER */

/* FOOTER */
footer {
	background-color: #ea4c4c;
	text-align: center;
	}

#footer-content {
	padding-top: 30px;
	max-width: 950px;
	width: 95%;
	margin: 0 auto;
	}

.bottom-nav>li {
	display: inline;
	}

.bottom-nav, .bottom-nav a {
	color: white;
	list-style-type: none;
	font-size: 14pt;
	text-transform: uppercase;
	line-height: 30px;
	text-decoration: none;
	padding-right: 10px;
	}

.bottom-nav a:hover {
	color: lightgrey;	
	}

footer svg {
	width: 50px;
	padding-bottom:40px;
	}
/* END FOOTER */

/* WORK ITEMS */
.hover {
	background-position: 35% 50%!important;
	transition: 0.2s ease-in-out;
	}

#right-section {
	background-color: rgba(255, 255, 255, 0.9);
	width: 50%;
	height: 100%;
	float: right;
	}

.port-content {
	padding: 30% 100px 40px 100px;
	}

.port-content>h1 {
	font-size: 28pt;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 10px;
	}

.port-content>h2 {
	font-size: 10pt;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 200;
	}

.port-content>p {
	margin-top: 50px;
	}

.port-content>hr {
	width: 100px;
	height: 3px;
	border: 0 none;
	}
	
#fbsection5 {
	background-image: url('../images/section5-lardenoije-bg.png');
	background-size: 70%;
	background-attachment: fixed;
	background-position: center;
	}

#fbsection6 {
	background-image: url('../images/section6-kroese-bg.png');
	background-size: 70%;
	background-attachment: fixed;
	background-position: center;
	}

#fbsection7 {
	background-image: url('../images/section3-mido-bg.png');
	background-size: 70%;
	background-attachment: fixed;
	background-position: center;
	}

#fbsection8 {
	background-image: url('../images/section4-24nannies-bg.png');
	background-size: 70%;
	background-attachment: fixed;
	background-position: center;
	}
/* END WORK ITEMS */

/* MULTIPLE ELEMENTS CSS */
#fbsection2, #fbsection9 {
	background-color: #ea4c4c;
	height: 400px;
	}

#fbsection4>h1, #fbsection3>h1, #fbsection10>h1 {
	font-size: 28pt;
	text-transform: uppercase;
	color: #ea4c4c;
	}
	
#content-left>h2, #content-right>h2, #content-right-contact>h2 {
	background-image: url('../images/mountain-black.svg');
	background-size: 30px 15px;
    background-repeat: repeat-x;
    background-position: 0 30px;
    padding-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
	}

#fbsection4, #fbsection10 {
	padding-top: 20px;
	text-align: center;
	max-width: 950px;
	margin: 0 auto;
	color: #979797;
	font-weight: 200;
	line-height: 30px;
	font-size: 10pt;
	}

#fbsection4>p, #fbsection10>p {
	margin-bottom: 40px;
	}
/* END MULTIPLE ELEMENTS CSS */

/* ICONS CSS */
.hi-icon-effect-1 .hi-icon {
	border: 1px solid #ea4c4c;
	color: #ea4c4c;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
	}

.hi-icon-effect-1a .hi-icon:hover {
	background: #ea4c4c;
	color: #ffffff;
	}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	}
/* END ICONS CSS */

.work-image {
	max-width: 150px;
}

#js-medium {
	display: none;
}